@model List<Asp.Net.MVC.Models.Login>
@{
    Layout = null;
}
<h2>Sign Up</h2>
@ViewBag.Mesaj
<style>
    body {
        margin: 0;
        padding: 0;
    }

    .form-control {
        border-radius: 1.5rem;
        margin: 15px 0;
        font-size: 25px;
    }

    .btnSubmit {
        border: none;
        border-radius: 25px;
        padding: 1%;
        width: 20%;
        cursor: pointer;
        background: #0062cc;
        color: #fff;
    }
</style>
<div class="container register-form">
    <div class="form">
        <div class="row">
            <div>
                @using (Html.BeginForm("Signup", "Register", FormMethod.Post, null))
                {
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="username" class="form-control" placeholder="Username"></textarea>
                        </div>
                        <div class="form-group">
                            <textarea name="Password1" placeholder="Password" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="Password2" placeholder="Confirm Password" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <textarea name="Emailtxt" placeholder="Email" class="form-control"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btnSubmit">Submit</button>
                }
            </div>
        </div>
    </div>
</div>

